events {
	worker_connections 1024;
}
http {
	server {
		listen 80;
		server_name {{ ansible_nodename }};
		return 301 https://$server_name$request_uri;
	}
	server {
		listen 443 ssl;
		server_name {{ ansible_nodename }};
		ssl_certificate /etc/nginx/server.crt;
		ssl_certificate_key /etc/nginx/server.key;
		location / {
			proxy_pass http://127.0.0.1:{{ nginx_proxy_port }};
		}
	}
}
